// Vararible
$bg-color: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(83, 175, 196, 1) 77%,
  rgba(0, 212, 255, 1) 100%
);
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #2a72dc;
$color-blue-2: #1d355e;
$color-yellow: #f9d310;

$fs-title: 60px;
$fs-mini-title: 34px;
$fs-sub-title: 20px;
$fs-nav: 16px;
$fs-paragraph: 18px;

$fw-normal: 400;
$fw-bold: 700;
$fw-semi-bold: 600;

// Function for style
@mixin styleTextA($fs, $color, $fw) {
  text-decoration: none;
  font-size: $fs;
  color: $color;
  font-weight: $fw;
}

@mixin styleText($fs, $color, $fw) {
  font-size: $fs;
  color: $color;
  font-weight: $fw;
}

@mixin styleButton($bg, $color, $shadow) {
  border: 2px solid $color-blue;
  background-color: $bg;
  color: $color;
  box-shadow: $shadow;
  border-radius: 8px;
  padding: 15px 40px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    background-color: $color;
    color: $bg;
  }
}

// Custom css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  margin-bottom: 0px;
  background-color: #f7f7f7;
}

p {
  margin: 0 0 16px;
}

h2 {
  margin: 0;
}

.container {
  padding: 0;
}

.btn {
  position: relative;
  border: 0;
  padding: 16px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 14px;
  cursor: pointer;
  transition: all 0.15s;
  &:hover {
    outline: none;
    background-color: #5f9db8;
  }
  &:focus {
    outline: 0;
    box-shadow: none !important;
    /* box-shadow: 0 0 0 2px #404b61, inset 0 0 0 2px #ffffff; */
  }

  &:active {
    transform: scale(0.95);
  }
  + .btn {
    margin-left: 8px;
  }
}

.main-color {
  background: #2c5364;
}

.gradient-custom {
  background: $bg-color;
}

header {
  #navbarColor01 {
    a {
      transition: 0.3s all ease-in-out;
      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

.nav1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.nav2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* BANNER */
nav.black {
  background: rgba(0, 0, 0, 0.8);
}
.banner-image {
  background: $bg-color, url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  .btn {
    font-size: 18px;
  }
}
.banner-phone-image img {
  width: 500px;
}
.star-rating {
  a {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    &:hover {
      color: $color-white;
    }
  }
}
.aa {
  line-height: 26px;
}

/* //BANNER */

/* CART */
.form {
  position: relative;
}

.form__footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 24px;
}

.red-btn {
  background-color: #df461f;
  &:hover {
    background-color: #e96443;
  }
}

.yellow-btn {
  background-color: #f0b80f;
  &:hover {
    background-color: #f1ca55;
  }
}

.microcopy {
  display: block;
  color: #9da3af;
  font-size: 14px;
  margin-top: 4px;
}

a {
  color: #e2007a;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

small {
  font-size: 14px;
  color: #9da3af;
}

.tertiary {
  color: #9da3af;
}

.cart.is-hidden .cart__overlay {
  opacity: 0;
  visibility: hidden;
}
.cart.is-hidden .cart__contents {
  transform: translate(0, 0);
}

.meh {
  position: relative;
  color: #405461;
  font-family: "Muli";
}

.cart__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart__contents {
  position: fixed;
  top: 10%;
  bottom: 0;
  left: 100%;
  width: 500px;
  height: 92%;
  overflow: auto;
  background-color: $color-white;
  transition: all 0.25s ease-in-out;
  transform: translate(-100%, 0);
}

.cart__products,
.cart__totals {
  padding: 28px;
}

.cart__totals {
  background-color: #f7f7f7;
}

.font-normal {
  font-weight: normal;
}

small {
  font-size: 75%;
}

td,
th {
  padding-bottom: 12px;
}

tfoot td,
tfoot th {
  padding-top: 12px;
}

.first {
  order: 1;
}

#priceTotal {
  font-weight: 600;
}

/* cart count icon */
.nav-link {
  .badge {
    color: $color-white;
    background-color: $color-blue;
    position: relative;
    padding: 0.2em 0.5em;
    top: -10px;
    left: -12px;
    z-index: 1;
  }
}

/* //CART */

/* COUNT BUTTON */
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

// .qty {
//   .count {
//     color: #000;
//     display: inline-block;
//     vertical-align: top;
//     font-size: 20px;
//     font-weight: 700;
//     line-height: 20px;
//     padding: 0 2px;
//     min-width: 35px;
//     text-align: center;
//   }
//   .plus {
//     cursor: pointer;
//     display: inline-block;
//     vertical-align: top;
//     color: white;
//     width: 20px;
//     height: 20px;
//     margin-top: 1px;

//     font: 20px/1 Arial, sans-serif;
//     text-align: center;
//     border-radius: 50%;
//     background-color: #284c5b !important;
//     &:hover {
//       background-color: #4166af !important;
//     }
//   }
//   .minus {
//     cursor: pointer;
//     display: inline-block;
//     vertical-align: top;
//     color: white;
//     width: 20px;
//     height: 20px;
//     margin-top: 1px;

//     font: 20px/1 Arial, sans-serif;
//     text-align: center;
//     border-radius: 50%;
//     background-clip: padding-box;
//     background-color: #284c5b !important;
//     &:hover {
//       background-color: #4166af !important;
//     }
//   }
// }

/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* //COUNT BUTTON */

/* PRODUCT CARD */

.product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  .product__item {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 30px;
    animation-name: scaleUp;
    animation-iteration-count: 1;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 1s;
      }
    }

    img {
      width: 70%;
      height: 70%;
      box-shadow: 0 2px 4px #e2ebfc;
    }

    .item__text {
      @include styleText($fs-paragraph, $color-blue-2, $fw-semi-bold);
      h3 {
        @include styleText($fs-sub-title, $color-blue, $fw-semi-bold);
        display: flex;
        justify-content: space-between;
      }
    }

    .item__action {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .rate {
        color: $color-yellow;
      }

      button {
        @include styleButton($color-blue, $color-white, none);
      }
    }
  }
}
.phone_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  align-self: center;
  align-items: center;
  object-fit: contain;
}

.product__item.card {
  position: relative;
  justify-content: center;
  align-self: center;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 7px 5px -5px #4d4b4b;
  border: transparent;
  transition: 0.5s;
  h3 {
    color: $color-white;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin: 0.5em 0;
    font-size: 1.5em;
  }

  &:hover {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
    .btn {
      top: 85%;
      opacity: 1;
    }
  }
}


.fadeIn-top {
  top: 20%;
}

.card-body {
  padding-bottom: 0;
  min-width: fit-content;
}

.card-img {
  padding-top: 10px;
  width: inherit;
  height: 200px;
  object-fit: contain;
  display: block;
}

.brand-box {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #eaeaea;
  padding: 0 5px;
}
/* //PRODUCT CARD */

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /*height: 65rem;*/
}

@media (max-width: 1199.5px) {
  /* .card {
      height: 600px;
    } */
}
@media (max-width: 991.5px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .card {
      height: 550px;
    } */
  .card span {
    font-size: 1.1rem;
  }
  #selectList {
    width: 100% !important;
  }
}

@media (max-width: 525.5px) {
  #content.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .col-lg-4,
  .col-md-6 {
    padding-left: 0;
  }
  .cart__contents {
    width: 400px;
  }
  #selectList {
    width: 100% !important;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
