// Vararible
$bg-color: linear-gradient(rgba(29, 38, 113, 0.8), rgb(55 92 195 / 80%));
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #2567ca;
$color-blue-2: #4e76bc;
$color-yellow: #f9d310;
$color-red: #d31a13;

$fs-title: 32px;
$fs-sub-title: 18px;
$fs-paragraph1: 16px;
$fs-paragraph2: 14px;
$fs-mini: 12px;

$fw-normal: 400;
$fw-bold: 700;
$fw-semi-bold: 600;

// Function for style
@mixin styleTextA($fs, $color, $fw) {
  text-decoration: none;
  font-size: $fs;
  color: $color;
  font-weight: $fw;
}

@mixin styleText($fs, $color, $fw) {
  font-size: $fs;
  color: $color;
  font-weight: $fw;
}

@mixin styleButton($bg, $color, $bd-color) {
  background-color: $bg;
  color: $color;
  border: 1px solid $bd-color;
  transition: all 0.5s;
  cursor: pointer;
}

// Custom css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  margin-bottom: 0px;
  background-color: #f7f7f7;
}

p {
  margin: 0;
}

.container {
  padding: 0;
}
button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.gradient-custom {
  background: $bg-color;
}

header {
  #navbarColor01 {
    a {
      transition: 0.3s all ease-in-out;
      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

.nav1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.nav2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  p {
    text-align: left;
  }
}

/* BANNER */
nav.black {
  background: rgba(0, 0, 0, 0.8);
}

.banner_image {
  background: $bg-color, url(../img/banner.jpg);;
  background-size: cover;
  background-position: center;
  .banner_desc {
    color: $color-white;
  }
}
.banner-phone-image img {
  width: 70%;
}
.star-rating {
  a {
    color: $color-yellow;
    margin-right: 10px;
    &:hover {
      color: $color-white;
    }
  }
}

/* //BANNER */

/* CART */

.microcopy {
  display: block;
  color: #9da3af;
  font-size: 14px;
  margin-top: 4px;
}

.cart.is-hidden {
  .cart_overlay {
    opacity: 0;
    visibility: hidden;
  }
  .cart_contents {
    transform: translate(0, 0);
  }
}

.cart {
  position: relative;
  color: #405461;
  font-family: "Muli";
  z-index: 9999;

  .cart_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: all 0.25s ease-in;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
  }

  .cart_contents {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: $color-white;
    transition: all 0.25s ease-in-out;
    transform: translate(-100%, 0);
    .title {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      position: relative;
      h2 {
        @include styleText($fs-title, $color-black, $fw-bold);
        // flex-grow: 1;
        text-align: center;
      }
      i {
        font-size: $fs-title;
        color: $color-black;
        // transform: translateX(-10px);
        position: absolute;
        top: 5px;
        right: 25px;
        cursor: pointer;
      }
    }

    .cart-items {
      display: flex;
      position: absolute;
      width: 90%;
      margin: 0 5%;
      height: 50%;
      top: 10%;
      flex-direction: column;
      .cart-empty {
        display: none;
        margin: auto 0;
        font-size: $fs-title;
        font-weight: 900;
        text-align: center;
        color: $color-blue;
      }

      .cart-empty.is-show {
        display: block;
      }
      .cart-item {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
        align-items: center;
        // display: flex;
        // justify-content: space-around;
        width: 100%;
        border-bottom: 1px solid $color-blue;
        margin-bottom: 6px;
        padding: 11px;
        .cart-img {
          width: 70px;
          height: 70px;
          justify-content: center;
          img {
            width: 100%;
            align-self: center;
          }
        }
        .qty-change {
          div {
            display: flex;
            .btn-qty {
              border: 1px solid $color-black;
              border-radius: 50%;
              padding: 2px 5px;
            }
            .qty {
              padding: 2px 5px;
            }
          }
        }
        .btnRemoveCartItem {
          i {
            color: $color-red;
          }
        }
      }
    }
  }

  .cart_footer {
    position: absolute;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    right: 0;
    bottom: 10%;
    span {
      @include styleText($fs-sub-title, $color-black, $fw-semi-bold);
      align-self: flex-end;
      margin: 0 20px 16px 0;
    }
    .action {
      // display: flex;
      // justify-content: space-evenly;
      .btn {
        @include styleButton($color-white, $color-black, $color-blue);
        font-size: $fs-sub-title;
        padding: 16px 32px;
        margin-right: 20px;
        border-radius: 10px;
        &:hover {
          color: $color-black;
          box-shadow: inset 20em 0 0 0 $color-blue-2;
        }
      }
      .buy {
        i {
          color: $color-blue;
        }
      }
      .clear {
        i {
          color: $color-red;
        }
      }
    }
  }
}

/* cart count icon */
.nav-link {
  .badge {
    color: $color-white;
    background-color: $color-blue;
    position: relative;
    padding: 0.2em 0.5em;
    top: -10px;
    left: -12px;
    z-index: 1;
  }
}

/* //CART */

/* COUNT BUTTON */
// img {
//   max-width: 100%;
//   max-height: 100%;
//   object-fit: cover;
// }

// .qty {
//   .count {
//     color: #000;
//     display: inline-block;
//     vertical-align: top;
//     font-size: 20px;
//     font-weight: 700;
//     line-height: 20px;
//     padding: 0 2px;
//     min-width: 35px;
//     text-align: center;
//   }
//   .plus {
//     cursor: pointer;
//     display: inline-block;
//     vertical-align: top;
//     color: white;
//     width: 20px;
//     height: 20px;
//     margin-top: 1px;

//     font: 20px/1 Arial, sans-serif;
//     text-align: center;
//     border-radius: 50%;
//     background-color: #284c5b !important;
//     &:hover {
//       background-color: #4166af !important;
//     }
//   }
//   .minus {
//     cursor: pointer;
//     display: inline-block;
//     vertical-align: top;
//     color: white;
//     width: 20px;
//     height: 20px;
//     margin-top: 1px;

//     font: 20px/1 Arial, sans-serif;
//     text-align: center;
//     border-radius: 50%;
//     background-clip: padding-box;
//     background-color: #284c5b !important;
//     &:hover {
//       background-color: #4166af !important;
//     }
//   }
// }

/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* //COUNT BUTTON */

/* PRODUCT CARD */

.product {
  .product-item {
    display: block;
    text-decoration: none;
    background-color: $color-white;
    padding: 10px;
    position: relative;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    animation-name: scaleUp;
    animation-iteration-count: 1;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    // @for $i from 1 through 6 {
    //   &:nth-child(#{$i}) {
    //     animation-delay: $i * 1s;
    //   }
    // }

    .img {
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;
      padding-top: 100%;
      border-radius: 2px 2px 0 0;
    }

    .name {
      @include styleText($fs-sub-title, $color-black, $fw-semi-bold);
      margin: 10px 0;
      // line-height: 1.8rem;
      // height: 3.6rem;
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .price {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      > span {
        @include styleText($fs-paragraph1, $color-blue, $fw-normal);
      }
      .like {
        i {
          color: $color-blue;
        }
        .liked {
          i {
            color: $color-red;
          }
        }
      }
    }

    .action {
      display: flex;
      justify-content: space-between;
      @include styleText($fs-paragraph2, $color-yellow, $fw-normal);
      margin: 10px 0;
    }

    .info {
      display: flex;
      justify-content: space-between;
      @include styleText($fs-paragraph2, $color-black, $fw-normal);
    }

    .favourite {
      display: none;
      position: absolute;
      left: -4px;
      top: 10px;
      background-color: $color-blue;
      @include styleText($fs-mini, $color-white, $fw-semi-bold);
      line-height: 16px;
      padding: 0 4px;
      border-radius: 0 3px 3px 0;
      i {
        @include styleText($fs-mini, $color-white, $fw-semi-bold);
        // margin-left: 2px;
      }

      span {
        font-size: $fs-mini;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 16px;
        border-top: 4px solid $color-blue;
        border-left: 4px solid transparent;
        filter: brightness(70%);
      }
    }
    .favourite.liked {
      display: block;
    }
    // .out-of-stock-cover {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background: rgba(0, 0, 0, 0.25);
    //   justify-content: center;
    //   align-items: center;
    //   display: none;
    //   span {
    //     font-weight: 900;
    //     color: rgba(255, 200, 200, 0.75);
    //     font-size: 1.5rem;
    //   }
    // }

    &:hover {
      border: none;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      .wrapper {
        display: block;
      }
    }

    .btn {
      @include styleButton($color-white, $color-blue, $color-blue);
      border-radius: 20px;
      padding: 7px 10px;
      line-height: 16px;

      &:hover {
        background-color: $color-blue;
        color: $color-white;
      }
    }
  }
}
.phone_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  align-self: center;
  align-items: center;
  object-fit: contain;
}

/* //PRODUCT CARD */

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /*height: 65rem;*/
}

@media (max-width: 1199.5px) {
  /* .card {
      height: 600px;
    } */
}
@media (max-width: 991.5px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .card {
      height: 550px;
    } */
  .card span {
    font-size: 1.1rem;
  }
  #selectList {
    width: 100% !important;
  }
}

@media (max-width: 525.5px) {
  #content.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .col-lg-4,
  .col-md-6 {
    padding-left: 0;
  }
  .cart__contents {
    width: 400px;
  }
  #selectList {
    width: 100% !important;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
