* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  margin-bottom: 0px;
  background-color: #f7f7f7;
}

p {
  margin: 0 0 16px;
}

.container {
  padding: 0;
}

.btn {
  position: relative;
  border: 0;
  padding: 16px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 14px;
  cursor: pointer;
  transition: all 0.15s;
}
.btn:hover {
  outline: none;
  background-color: #5f9db8;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
  /* box-shadow: 0 0 0 2px #404b61, inset 0 0 0 2px #ffffff; */
}
.btn:active {
  transform: scale(0.95);
}
.btn + .btn {
  margin-left: 8px;
}

.gradient-custom {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(83, 175, 196) 77%, rgb(0, 212, 255) 100%);
}

header #navbarColor01 a {
  transition: 0.3s all ease-in-out;
}
header #navbarColor01 a:hover {
  transform: scale(1.15);
}

.nav1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.nav2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* BANNER */
nav.black {
  background: rgba(0, 0, 0, 0.8);
}

.banner_image {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(83, 175, 196) 77%, rgb(0, 212, 255) 100%), url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
}
.banner_image .btn {
  font-size: 18px;
}
.banner_image .banner_desc {
  color: #ffffff;
}

.banner-phone-image img {
  width: 70%;
}

.star-rating a {
  color: #f9d310;
  margin-right: 10px;
}
.star-rating a:hover {
  color: #ffffff;
}

/* //BANNER */
/* CART */
.form {
  position: relative;
}

.form__footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 24px;
}

.red-btn {
  background-color: #df461f;
}
.red-btn:hover {
  background-color: #e96443;
}

.yellow-btn {
  background-color: #f0b80f;
}
.yellow-btn:hover {
  background-color: #f1ca55;
}

.microcopy {
  display: block;
  color: #9da3af;
  font-size: 14px;
  margin-top: 4px;
}

a {
  color: #e2007a;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

small {
  font-size: 14px;
  color: #9da3af;
}

.tertiary {
  color: #9da3af;
}

.cart.is-hidden .cart__overlay {
  opacity: 0;
  visibility: hidden;
}

.cart.is-hidden .cart__contents {
  transform: translate(0, 0);
}

.meh {
  position: relative;
  color: #405461;
  font-family: "Muli";
}

.cart__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart__contents {
  position: fixed;
  top: 10%;
  bottom: 0;
  left: 100%;
  width: 500px;
  height: 92%;
  overflow: auto;
  background-color: #ffffff;
  transition: all 0.25s ease-in-out;
  transform: translate(-100%, 0);
}

.cart__products,
.cart__totals {
  padding: 28px;
}

.cart__totals {
  background-color: #f7f7f7;
}

.font-normal {
  font-weight: normal;
}

small {
  font-size: 75%;
}

td,
th {
  padding-bottom: 12px;
}

tfoot td,
tfoot th {
  padding-top: 12px;
}

.first {
  order: 1;
}

#priceTotal {
  font-weight: 600;
}

/* cart count icon */
.nav-link .badge {
  color: #ffffff;
  background-color: #2567ca;
  position: relative;
  padding: 0.2em 0.5em;
  top: -10px;
  left: -12px;
  z-index: 1;
}

/* //CART */
/* COUNT BUTTON */
/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* //COUNT BUTTON */
/* PRODUCT CARD */
.product {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product .product_item.card {
  position: relative;
  justify-content: center;
  align-self: center;
  flex-shrink: 0;
  border-radius: 20px;
  width: 70%;
  height: 70%;
  background-color: #2567ca;
  overflow: hidden;
  border: transparent;
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  animation-name: scaleUp;
  animation-iteration-count: 1;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.product .product_item.card:nth-child(1) {
  animation-delay: 1s;
}
.product .product_item.card:nth-child(2) {
  animation-delay: 2s;
}
.product .product_item.card:nth-child(3) {
  animation-delay: 3s;
}
.product .product_item.card:nth-child(4) {
  animation-delay: 4s;
}
.product .product_item.card:nth-child(5) {
  animation-delay: 5s;
}
.product .product_item.card:nth-child(6) {
  animation-delay: 6s;
}
.product .product_item.card .item_container {
  position: absolute;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translateY(-5%);
}
.product .product_item.card .item_container img {
  width: 100%;
}
.product .product_item.card .item_container .out-of-stock-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  display: none;
}
.product .product_item.card .item_container .out-of-stock-cover span {
  font-weight: 900;
  color: rgba(255, 200, 200, 0.75);
  font-size: 1.5rem;
}
.product .product_item.card .item_details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  background-color: #4e76bc;
  border-radius: 20px;
  padding: 20px;
  transform: translateY(100%);
  transition: 0.25s;
}
.product .product_item.card .item_details .name {
  display: flex;
  justify-content: space-between;
}
.product .product_item.card .item_details .name .product_name {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.product .product_item.card .item_details .wrapper {
  transform: translateY(5px);
  display: none;
}
.product .product_item.card .item_details .wrapper h5 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 0;
  font-weight: light;
}
.product .product_item.card .item_details .purchase {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.product .product_item.card .item_details .purchase .product_price {
  font-size: 16px;
  color: #f9d310;
  font-weight: 400;
}
.product .product_item.card .item_details .purchase p {
  font-weight: 500;
}
.product .product_item.card:hover {
  width: 75%;
  height: 75%;
  overflow: visible;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 1;
}
.product .product_item.card:hover .wrapper {
  display: block;
}
.product .product_item.card .btn {
  border-radius: 20px;
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  padding: 6px 10px;
}
.product .product_item.card .btn:hover {
  background: #ffffff;
  color: #000000;
}

.phone_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  align-self: center;
  align-items: center;
  object-fit: contain;
}

.fadeIn-top {
  top: 20%;
}

/* //PRODUCT CARD */
footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /*height: 65rem;*/
}

@media (max-width: 1199.5px) {
  /* .card {
      height: 600px;
    } */
}
@media (max-width: 991.5px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .card {
      height: 550px;
    } */
  .card span {
    font-size: 1.1rem;
  }
  #selectList {
    width: 100% !important;
  }
}
@media (max-width: 525.5px) {
  #content.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .col-lg-4,
  .col-md-6 {
    padding-left: 0;
  }
  .cart__contents {
    width: 400px;
  }
  #selectList {
    width: 100% !important;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */